<?xml version="1.0"?>
<model>
  <name>Aruco Marker</name>
  <version>0.1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Tarun Sriram</name>
    <email>t.sriram@avular.com</email>
  </author>
  
  <license>Avular Confidential</license>

  <description>
    <p>Aruco Marker</p>
  </description>
</model>
